body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

#banner {
    width: 100%;
    height: 25vh;
    background-color: rgba(251, 155, 110, 0.678);
}

#main-content {
    display: flex;
    width: 100%;
    height: 180vh;
}

#nav {
    width: 100px;
    background-color: bisque;
}

#content {
    flex-grow: 1;
    background-color: aliceblue;
}

#supporting {
    width: 100px;
    background-color: lightgray;
}

#footer {
    width: 100%;
    height: 50px;
    background-color: rosybrown;
}